---
const { dates, role, company, description } = Astro.props;
---

<div class="relative flex flex-col justify-start pl-12">
  <div
    class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-white border rounded-full dark:bg-neutral-950 w-14 h-14 border-neutral-300 dark:border-neutral-700">
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="24" 
        height="24" 
        viewBox="0 0 24 24" 
        style="fill: rgb(52, 76, 183);transform: ;msFilter:;">
        <path d="M20 6h-3V4c0-1.103-.897-2-2-2H9c-1.103 0-2 .897-2 2v2H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2zM6 8h2v11H6V8zm12 11h-2V8h2v11zM15 4v2H9V4h6z">
        </path>
      </svg>
  </div>

  <p class="text-xs uppercase text-neutral-600 dark:text-neutral-600 trackign-widest">
    {dates}
  </p>
  <h3 class="my-1 text-lg font-bold dark:text-neutral-100">{role}</h3>
  <p class="mb-1 text-md font-medium dark:text-neutral-300">{company}</p>
  <p class="text-md leading-6 font-normal text-neutral-600 sm:leading-7 lg:leading-7 dark:text-neutral-400">
    {description}
  </p>
</div>
